{% extends "app/base.html" %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <h1 class="text-center mb-5">Carrito de compra</h1>
    <div class="row">
        {% if cart %}
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-4">Tu carrito</h3>
                    {% for item in cart %}
                    <div class="row mb-4">
                        <div class="col-md-3 text-center align-self-center">
                            <img src="{{ item.product.product_image.url }}" alt="{{ item.product.title }}" class="img-fluid rounded shadow" style="max-height: 150px;">
                        </div>
                        <div class="col-md-9">
                            <h5> {{item.product.title}}</h5>
                            <pclass="mb-2 text-muted small"> {{iem.product.description}}</p>
                            <div class="my-3">
                                <label for="quantity">Cantidad: </label>
                                <a class="minus-cart btn" pid= {{item.product.id}}><i class="fas fa-minus-square fa-lg"></i></a>
                                    <span id="quantity"> {{item.quantity}} </span>
                                <a class="plus-cart btn" pid= {{item.product.id}}><i class="fas fa-plus-square fa-lg"></i></a>
                            </div>
                            <div class="d-flex justify-content-between">
                                <a href="" class="remove-cart btn btn-sm btn-secondary mr-3" pid= {{item.product.id}}>Remove Item </a>
                                <p class="mb-0"><span><strong>$ {{item.product.discounted_price}}</strong></span></p>
                            
                        </div>
                    </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="mb-4">Total</h3>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Subtotal:
                            <span class="font-weight-bold">$ {{ amount }}</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Envío:
                            <span>$ 40,0</span> <!-- Cambiado a un formato numérico -->
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <strong>Total (IVA incluido):</strong>
                            <span class="font-weight-bold">$ {{ amount|add:40 }}</span> <!-- Suma del subtotal y el envío -->
                        </li>
                    </ul>
                    <a href="{% url 'checkout' %}" class="btn btn-primary btn-block">Realizar pedido</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-lg-12">
            <h1 class="text-center">¡Tu carrito está vacío!</h1>
        </div>
        {% endif %}
    </div>
</div>
{% endblock main-content %}
